openapi: 3.0.0
info:
  title: SentinelMine API
  description: API specification for the SentinelMine security analytics platform
  version: 1.0.0
  contact:
    name: SentinelMine Support
    email: support@sentinelmine.org
servers:
  - url: https://api.sentinelmine.org/v1
    description: Production server
  - url: https://staging-api.sentinelmine.org/v1
    description: Staging server

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    MFAAuth:
      type: apiKey
      in: header
      name: X-MFA-Token
  
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        username:
          type: string
        email:
          type: string
          format: email
        role:
          type: string
          enum: [admin, analyst, viewer]
        lastLogin:
          type: string
          format: date-time
        mfaEnabled:
          type: boolean
      required:
        - id
        - username
        - email
        - role
        - mfaEnabled
    
    AuthResponse:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        expiresIn:
          type: integer
        requiresMfa:
          type: boolean
      required:
        - accessToken
        - refreshToken
        - expiresIn
        - requiresMfa
    
    Prediction:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        threatType:
          type: string
          enum: [cyber, physical, insider, infrastructure]
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
        indicators:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              value:
                type: number
              weight:
                type: number
        analysis:
          type: string
        recommendedActions:
          type: array
          items:
            type: string
        blockchainVerification:
          type: string
      required:
        - id
        - createdAt
        - threatType
        - confidence
    
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object
      required:
        - code
        - message

paths:
  /auth/login:
    post:
      summary: Authenticate user
      description: Authenticates a user and returns JWT tokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
              required:
                - username
                - password
      responses:
        '200':
          description: Successful authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  /auth/mfa-verify:
    post:
      summary: Verify MFA token
      description: Verifies multi-factor authentication token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mfaToken:
                  type: string
              required:
                - mfaToken
      responses:
        '200':
          description: MFA verification successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: MFA verification failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  /auth/refresh:
    post:
      summary: Refresh access token
      description: Refreshes an expired access token using a valid refresh token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
              required:
                - refreshToken
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /predictions:
    get:
      summary: List predictions
      description: Returns a list of predictions filtered by various criteria
      security:
        - BearerAuth: []
        - MFAAuth: []
      parameters:
        - name: threatType
          in: query
          schema:
            type: string
            enum: [cyber, physical, insider, infrastructure]
        - name: minConfidence
          in: query
          schema:
            type: number
            minimum: 0
            maximum: 1
        - name: maxConfidence
          in: query
          schema:
            type: number
            minimum: 0
            maximum: 1
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: List of predictions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Prediction'
                  pagination:
                    type: object
                    properties:
                      total:
                        type: integer
                      page:
                        type: integer
                      pageSize:
                        type: integer
                      pages:
                        type: integer
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    
    post:
      summary: Create prediction
      description: Creates a new prediction based on input data
      security:
        - BearerAuth: []
        - MFAAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                threatType:
                  type: string
                  enum: [cyber, physical, insider, infrastructure]
                indicators:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      value:
                        type: number
                additionalData:
                  type: object
              required:
                - threatType
                - indicators
      responses:
        '201':
          description: Prediction created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prediction'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  /predictions/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      summary: Get prediction
      description: Returns a specific prediction by ID
      security:
        - BearerAuth: []
        - MFAAuth: []
      responses:
        '200':
          description: Prediction details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prediction'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Prediction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    
    delete:
      summary: Delete prediction
      description: Deletes a prediction (audit record will be maintained in blockchain)
      security:
        - BearerAuth: []
        - MFAAuth: []
      responses:
        '204':
          description: Prediction deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Prediction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  /predictions/{id}/verify:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      summary: Verify prediction integrity
      description: Verifies the integrity of a prediction using blockchain
      security:
        - BearerAuth: []
        - MFAAuth: []
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified:
                    type: boolean
                  blockchainReference:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
                  hash:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Prediction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  /users/me:
    get:
      summary: Get current user
      description: Returns information about the currently authenticated user
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  /health:
    get:
      summary: Health check
      description: Checks the health status of the API
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [healthy]
                  version:
                    type: string
                  timestamp:
                    type: string
                    format: date-time 